<app-navbar></app-navbar>
<h3 class="artegra font-4 padding-top-1 textCenter">Carrito de Compras</h3>
<div class="container-table">
    <table class="margin-top-1">
        <thead>
            <tr>
                <th scope="">Imagen</th>
                <th scope="">Producto</th>
                <th scope="">Precio</th>
                <th scope="" style="width: 50px;">Cantidad</th>
                <th scope="">Subtotal</th>
            </tr>
        </thead>
        <tbody *ngIf="getCartItems.length">
            <tr *ngFor="let item of getCartItems">
                <td>
                    <img src="{{item.url}}" width="80">
                </td>
                <td>
                    <p class="money">
                        {{item.name}}
                    </p>
                    <p class="money textGray">
                        {{item.description}}
                    </p>
                </td>
                <td class="money">$ {{item.price}}</td>
                <td>
                    <input type="number" [(ngModel)]="item.amount" (ngModelChange)="updateItem(item.id)" [min]="1" onkeypress="return event.charCode >= 48 && event.charCode <= 57"
                        max="{{item.stock}}" class="money" (onblur)="updateItem(item.id)">
                    <label class="error" *ngIf="item.amount < 1">Cantidad no valida</label>
                    <label class="error" *ngIf="item.amount > item.stock">No hay stock</label>

                </td>
                <td class="money">
                    <div class="flex-center">
                        <p>${{item.subtotal}}</p>
                        <button (click)="removeFromCart(item.id)" class="btn-rounded btn-remove-cart"> X </button>
                    </div>
                </td>
            </tr>
        </tbody>

    </table>
</div>
<p class="textCenter textLight money margin-top-1" *ngIf="!getCartItems.length">No hay productos en el carrito</p>

<div class="container-operations">
    <div class="titles">
        <h2 class="cosmata">Subtotal: </h2>
        <h2 class="cosmata">Descuento: </h2>
        <h1 class="cosmata">Total: </h1>
    </div>
    <div class="amounts">
        <h2 class="money"> ${{getSubtotal.toFixed(2)}} </h2>
        <h2 class="money">50% </h2>
        <h1 class="money">${{getTotal}} </h1>
    </div>
</div>

<div class="container-operations">
    <div class="amounts">
        <button mat-button class="btn-shop artegra btn-buy" [disabled]="!getCartItems.length || invalidItems" [routerLink]="['/payment']" >REALIZAR COMPRA</button>
    </div>
</div>