<div class="fixed bgPrimary width-100">
    <div class="flex-evenly">
        <div class="flex-center padding-5">
            <img id="navbar-logo" src="../../../assets/images/logo-blanco.png" class="clickeable" [routerLink]="['/home']"
                width="80">
            <p class="textLight text-small artegra">Panel Administrativo</p>
        </div>
        <a [routerLink]="['/panel/products']" class="padding-5 artegra">Productos</a>
        <a [routerLink]="['/panel/users']" class="padding-5 artegra">Usuarios</a>
    </div>
</div>