a{
    color: white;
    text-decoration: none;
}
a:hover{
    background-color: rgb(37, 37, 37);

}

.btn-nav {
    background-color: #38B691;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;

}