.banner{
    width: 100%;
    height: auto;
    background-color: #3ab09e44;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 120px 0px 0px 0px;
}

#text-info{
    
    width: 400px
}

#image-banner{
    padding: 0px;
    width: 35%;
}

@media (max-width: 768px) {
    .banner{
        display: block;
        text-align: center;
        padding-top: 140px;
    }
    
    #text-info{
        width: 100%;
    }


}

@media (max-width: 300px) {
    .banner{
        padding-top: 170px;
    }

    #image-banner{
        width: 80%;
    }
}