<div class="banner ">
    <div class="">
        <h5 class="cosmata textPrimary font-5">ONLINE</h5>
        <h1 class="cosmata font-1">S H O P</h1>
        <p class="artegra textLight font-5" id="text-info">
            Los mejores productos a tu alcance con la mejor relacion de calidad y precio, encuentra tus marcas
            y accesorios favoritos dentro de Shop Online.
        </p>
        <button class="btnPrimary margin-top-1" [routerLink]="['/sale']">Comprar Ahora</button>
    </div>
    <img src="../../../assets/images/person.png" id="image-banner">

</div>